@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Models.TestQueryToDb;
@model IEnumerable<Order>;

@{
    ViewData["Title"] = "Privacy Policy";

}

@*<h4>Выборка с помощью навигационных свойств</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">orderNumder</th>
      <th scope="col">order Time</th>
      <th scope="col">order Price</th>
      <th scope="col">productName</th>
      <th scope="col">productCompany</th>
      <th scope="col">productPrice per one</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in ViewBag.OrderByNav)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.CreatedAt</td>
                <td>@item.Price</td>
                <td>@item.Product?.ProductName</td>
                <td>@item.Product?.Company</td>
                <td>@item.Product?.Price</td>
            </tr>
        }
  </tbody>
</table>

<h4>Выборка с помощью LINQ</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">orderNumder</th>
      <th scope="col">order Time</th>
      <th scope="col">order Price</th>
      <th scope="col">productName</th>
      <th scope="col">productCompany</th>
      <th scope="col">productPrice per one</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in ViewBag.OrdersByLINQ)
        {
            <tr>
                <th scope="row">@item.orderNumder</th>
                <td>@item.orderTime</td>
                <td>@item.orderPrice</td>
                <td>@item.productName</td>
                <td>@item.productCompany</td>
                <td>@item.productPrice</td>
            </tr>
        }
  </tbody>
</table>*@

<h4>Выборка с помощью LINQ ver 2</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">orderNumder</th>
      <th scope="col">order Time</th>
      <th scope="col">order Price</th>
      <th scope="col">productName</th>
      <th scope="col">productCompany</th>
      <th scope="col">productPrice per one</th>
      @*<th scope="col">customerName</th>
      <th scope="col">customerAge</th>*@
    </tr>
  </thead>
  <tbody>
      @foreach (var item in ViewBag.OrdersByLINQ2)
        {
            <tr>
                <th scope="row">@item.orderNumder</th>
                <td>@item.orderTime</td>
                <td>@item.orderPrice</td>
                <td>@item.productName</td>
                <td>@item.productCompany</td>
                <td>@item.productPrice</td>
                @*<td>@item.customerName</td>
                <td>@item.customerAge</td>*@
            </tr>
        }
  </tbody>
</table>