@using BreakingNewsWeb.Controllers;
@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Services;

@model ArticlesListViewModel;

@{
    ViewBag.PageInfo = "Articles collection:";
}

@*-------------Pagination------------*@
@*<nav aria-label="pagination top">
    <ul class="pagination" id="test" >
        @if (ViewBag.Page > 0)
        {
            <li class="page-item" ><a class="page-link" href="@Url.Action("Articles", new { page = ViewBag.Page - 1 })">&laquo;</a></li>
        }

        @for (int i = 0; i < ViewBag.MaxPage +1; i++)
        {
            <li class="page-item pages-@(i+1)" ><a class="page-link" href="@Url.Action("Articles", new { page = i })" >@(i+1)</a></li>
        }

        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Articles", new { page = ViewBag.Page + 1 })">&raquo</a></li>
        }
    </ul>
</nav>
*@

<div page-model="@Model.PagingInfo" page-action="Articles"
        page-classes-enabled="true"
        page-class="btn" page-class-normal="btn-outline-secondary"
        page-class-disabled="disabled"
        page-class-selected="btn-secondary" class="btn-group dropdown-menu-left mb-4" ></div>

@foreach (var article in Model.Articles)
{
    <div class="articles">
        <img class="articles__img" src="@article.UrlToImage"/>
        <div class="articles__text">
            <div class="articles__title">@article.Title</div>
            <div class="articles__content">@article.Content</div>
            <div class="text-muted mt-2">@article.Source - @article.PublishedAt</div>
            <a class="articles__more btn btn-light mt-2 col-1 btn-sm" href="@article.Url">More</a>
        </div>
    </div>
}


@*-------------Pagination------------*@
@*<div class="pagination" >
    <ul class="pagination__ul" >
        @if (ViewBag.Page > 0)
        {
            <li class="pagination__btn-arrow" >
                <a class="pagination__a" href="@Url.Action("Articles", new { page = ViewBag.Page - 1 })">
                    &laquo;
                </a>
            </li>
        }

        @for (int i = 0; i < ViewBag.MaxPage +1; i++)
        {
            <li class="pagination__btn page-@i" >
                <a class="pagination__a" href="@Url.Action("Articles", new { page = i })" >
                    @i
                </a> 
            </li>
        }

        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <li class="pagination__btn-arrow">
                <a class="pagination__a" href="@Url.Action("Articles", new { page = ViewBag.Page + 1 })" 
                    >
                    &raquo;
                </a>
            </li>
        }
    </ul>
</div>*@
