@using BreakingNewsWeb.Controllers;
@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Services;

@model IEnumerable<Article>;

@{
    ViewBag.PageInfo = "Articles collection:";
}


@foreach (var article in Model)
{
    <div class="articles">
        <img class="articles__img" src="@article.UrlToImage"/>
        <div class="articles__text">
            <div class="articles__title">@article.Title</div>
            <div class="articles__content">@article.Content</div>
            <div class="articles__published">@article.PublishedAt</div>
            <a class="articles__more" href="@article.Url">More</a>
        </div>
    </div>
}

<div class="pagination">
@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("Articles", new { page = ViewBag.Page - 1 })" 
       class="pagination__btn">
       &laquo;
    </a>
}

@for (int i = 0; i < ViewBag.MaxPage +1; i++)
{
    <a href="@Url.Action("Articles", new { page = i  })" 
       class="pagination__btn pagination__btn-active ">
        @i
    </a>
}

@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("Articles", new { page = ViewBag.Page + 1 })" 
       class="pagination__btn">
       &raquo;
    </a>
}
</div>