@using BreakingNewsWeb.Controllers;
@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Services;

@model IEnumerable<Article>;

@{
    ViewBag.PageInfo = "Articles collection:";
}

@foreach (var article in Model)
{
    <div class="articles">
        <img class="articles__img" src="@article.UrlToImage"/>
        <div class="articles__text">
            <div class="articles__title">@article.Title</div>
            <div class="articles__content">@article.Content</div>
            <div class="articles__published">@article.PublishedAt</div>
            <a class="articles__more" href="@article.Url">More</a>
        </div>
    </div>
}
