@using BreakingNewsWeb.Controllers;
@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Services;

@model IEnumerable<Article>;

@{
    int count = 0;
    // quantityArticlesOnPage задаёт количество выводимых статей на страницу
    int quantityArticlesOnPage = 20;
    var mainArticle = Model.First();
    ViewBag.PageInfo = $"Last news on {DateTime.Now.ToShortDateString()}";
}
<div class="main">
    <div class="mainArticle">
        <img class="main-img img-thumbnail" src="@mainArticle.UrlToImage"/>
        <div class="title">@mainArticle.Title</div>
        <div class="content">@mainArticle.Content</div>
        <div class="text-muted mt-2">@mainArticle.Source - @mainArticle.PublishedAt</div>
        <a class="more btn btn-light mt-2 col-2" href="@mainArticle.Url">More</a>
    </div>

    @foreach (var article in Model)
    {
        if (count < quantityArticlesOnPage)
        {
            <div class="article class-@count">
                <img class="img img-thumbnail" src="@article.UrlToImage"/>
                <div class="title">@article.Title</div>
                <div class="content">@article.Content</div>
                <div class="text-muted mt-2">@article.Source - @article.PublishedAt</div>
                <a class="more btn btn-light mt-1 col-3" href="@article.Url">More</a>
            </div>
            count++;
        }
        else break;
    }
</div>


