@using BreakingNewsWeb.Controllers;
@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Services;

@model IEnumerable<Article>;

@{
}


@foreach (var article in Model)
{
    <div class="article @article.Id">
        <img class="img" src="@article.UrlToImage"/>
        <div class="title">@article.Title</div>
        <div class="content">@article.Content</div>
        <a class="more" href="@article.Url">More</a>
        
    </div>
}

